*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}



.main-container{
  overflow: hidden;
  border: 5px solid black;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  flex-wrap: wrap; 
  border-bottom:10px solid black ;
}

.neo-container{
  order: 2;
  position: relative;
  overflow: hidden;
  flex-basis: calc(50% - 25px); 
}

.neo-img {
  margin: 50% 0 0 25%;
  width: 35%;
  height: 50%;
  
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: perspective(500px) rotateY(0) rotateX(0);
  transform-origin: 50% 50%;

  position: absolute;
  top: 0;
  left: 0;
  transition: all 1.3s ease-in-out;
}

.agent-container{
  order: 1;
  position: relative;
  flex-basis: calc(50% - 25px); 
}

.agent-container-img{
  margin: 50% 0 0 25%;
  width: 35%;
  height: 50%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transform: perspective(500px) rotateY(0) rotateX(0);
  transform-origin: 50% 50%;
  position: absolute;
  transition: all 1s ease-in-out;
  top: -10px;
  left: -25%;
}

.img-arm{
  width: 25%;
  height: 13%;
  top: 59%;
  left: 25%;
  transform:  translateY(-30%);
  transform: rotate(30deg);
  transform-origin: left bottom;
  transition: all 1s ease-in-out;
  position: relative;
}

.bullet{
    position: absolute;
    top: 71%;
    left: 44%;
    height: 6px;
    width: 10px;
    background-color: red;
    transform: rotate(30deg)  translateY(-30%);
}

.load{
  top:56%;
  transform: rotate(0deg) translateY(-30%);
}
.lock{
  transition: all 1s ease-in-out;
}

.agent-sensor{  
    position: absolute;
    top: 56%;
    left: 82%;
    width: 1115px;
    height: 12px;
    background-color: transparent;
    border-top: 2px dashed white;
    transform: translate(-50%, -50%) ;
    transform-origin: left bottom;
    transition: all 1s ease-in-out;
    right: calc(25% + 1px); 
}

.aim{
    transform: rotate(0deg) translateY(-30%);
}

.neo-sensor{  
  position: absolute;
  top: 64%;
  left: 86%;
  width: 1070px;
  height: 12px;
  background-color: transparent;
  border-top: 2px dashed red;
  transform: translate(-50%, -50%) ;
  transform-origin: left bottom;
  transition: all 1s ease-in-out;
}

